@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  font-family: "Karla", sans-serif;
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid rgba(231, 227, 227, 0.47);
  flex-direction: column;
  background: linear-gradient(to top left, powderblue, pink);
}

.heading-cont {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.card-heading {
  color: #0f1419;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  max-width: 400px;
}

.user-container {
  display: flex;
  align-items: center;
}

.post-by {
  font-size: 15px;
  color: #536471;
  padding-right: 10px;
}

.post-text {
  order: 3;
  color: #0f1419;
  padding-top: 5px;
}

.email-by {
  font-size: 15px;
  color: #536471;
}
